
#login-box {
	position: absolute;
	top: 13%;
	left: 50%;
	transform: translateX(-50%);
	min-width: 350px;
	margin: 100 auto;
	border: 1px solid black;
	background: rgba(48, 46, 45, 1);
	min-height: 250px;
	padding: 20px;
	z-index: 9999;
}

#login-box .logo .logo-caption {
	font-family: 'Poiret One', cursive;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}
#login-box .logo .tweak {
	color: #b1c900;
}

#login-box .controls input {
	border-radius: 0px;
	background: rgb(98, 96, 96);
	width: 90%;
	margin-left: 5%;
	height: 105%;
	border: 0px;
	margin-bottom: 1.7%;
	color: white;
	padding: 10px 12px;
	
}

#login-box .controls input:focus {
	box-shadow: none;
}



#login-box button.btn-custom {
	border-radius: 2px;
	margin-top: 8px;
	background:#b1c900;
	border-color: rgba(48, 46, 45, 1);
	color: white;
}
#login-box button.btn-custom:hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: rgba(48, 46, 45, 1);
	border-color: #b1c900;
}

#login-box .controls .btn
{
	background-color: #b1c900;
}

#login-box .here
{
	color:white;
	margin-left: 35%;
}


#login-box .here  a{
	text-align: center;
	color: white;
	background-color: #b1c900;
	text-decoration: none;
	width:90%;
	padding: 6px 6px;

	
}

#login-box .goog a{
    
	padding: 10px 12px;
	background-color:#DD4B37;
	color:white;
	text-decoration: none;
	margin-left: 10%;
	
}